<!DOCTYPE html>
<html lang="en">
  <head>
		<title>Chitter</title>
		<meta charset=”UTF-8">
    </head>
    <body>
      <h1>Chitter</h1>
        <p>{% if user%}
            <h3>See what's happening {{user.username}}...</h3>
            {% else %}
            <h3>See what's happening...</h3>
            {% endif %}</p>
 
    {% if peeps %}
    {% for peep in peeps %}
    <p>{{peep.content}}</p>
    <p><i>by {{users.search_username_by_user_id(peep.user_id)}} at {{peep.date_time}}</i></p>
    <hr>
    {% endfor %}
    {% endif %}
  </body>
</html>