<!DOCTYPE html>
<html lang="en">
  <head>
		<title>Chitter</title>
		<meta charset=”UTF-8">
        <link rel="stylesheet" href="/static/style.css" />
    </head>
    <body class="css-selector">
        {% if user %}
    
        <div class="topnav">
            <a class="active" href="/home">Home</a>
            <a href="/logout">logout</a>
          </div>
        {% endif %}


        <center>
        <img src="/static/icons8-chat-message-96.png" alt="Chitter icon with chat clouds"
        style="width: 60px; height: 60;">
      <h1>CHITTER</h1>

      {% if user %}
      <h3>See what's happening {{user}}...</h3>
      {% else %}
      <h3>See what's happening...</h3>
      {% endif %}

        <p class="t-new_peep">
            {% if logged == True  %}
            <form action="/post" method="POST">
                <p>
                    <input class="form-input2" type="text" name="content" id="content">
                    <input type="hidden" name="username" id="username" value="{{user}}">
                    <br>
                    <input class="button1" type="submit" value="Add peep">
                </p>
            </form>
            {% endif %}
        </p>
    <p>
        {% if peeps %}
        {% for peep in peeps %}
        <div class="post">
            <p class="t-peep">{{peep.content}}</p>
            <p class="user"><img src="/static/icons8-user-50.png" width="15px">
            by {{users.search_username_by_user_id(peep.user_id)}} at {{peep.date_time}}</p>
            
            <form action="/like/{{peep.id}}" method="POST">
                <input type="submit" name="like" id="like" value="Like! {{ peep.likes }}">
            </form>
        </div>
        {% endfor %}
        {% endif %}
    </p>
</center>
  </body>
</html>