<!DOCTYPE html>
<html lang="en">
  <head>
		<title>Chitter</title>
		<meta charset=”UTF-8">
    <link rel="stylesheet" href="static/style.css" />
	</head>
  <body class="css-selector">
    <center>
    <img src="static/icons8-chat-message-96.png" alt="Chitter icon with chat clouds" style="width: 60px; height: 60;">
    <h1 class="header1">Welcome to Chitter!</h1>

    <p>
    {% if message %}
    <h3>{{ message }}</h3>
    {% endif %}
    </p>

    <p>
        <a class="button1" href="/login">Login to Chitter</a>
    </p>
    <p>
        Don't have an accout?
        <br><br>
        <a class="button1" href="/signup">Signup to Chitter</a>
    </p>
    <p>
        <br>
        <a class="button1" href="/home">Browse Chitter as a guest</a>
    </p>
    </center>
  </body>
</html>
