<!DOCTYPE html>
<html lang="en">
  <head>
		<title>Chitter</title>
		<meta charset=”UTF-8">
	</head>
  <body>
    <center>
    <img src="static/chitter_icon.png" alt="Chitter icon with chat clouds" style="width: 60px; height: 60;">
    <h1 style="color:rgb(55, 154, 203)">Welcome to Chitter!</h1>

    <p>
    {% if message %}
    <h3>{{ message }}</h3>
    {% endif %}
    </p>

    <p>
        <a href="/login">Login to Chitter</a>
    </p>
    <p>
        Don't have an accout?
        <br>
        <a href="/signup">Signup to Chitter</a>
    </p>
    <p>
        <br>
        <a href="/homepage">Browse Chitter as a guest</a>
    </p>
    </center>
  </body>
</html>
