<!DOCTYPE html>
<html lang="en">
  <head>
		<title>Signup to Chitter</title>
		<meta charset=”UTF-8”>
        <link rel="stylesheet" href="static/style.css" />
	</head>
  <body class="css-selector">
    <center>
    <img src="static/icons8-chat-message-96.png" alt="Chitter icon with chat clouds" style="width: 60px; height: 60;">
    <h1 class="header1">Signup to Chitter!</h1>

    <form action="/signup" method="POST">
        {% if errors %}
        <ul>
        <p>
            {% for error in errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </p>
        </ul>
        {% endif %}

        <p>
            <label for="name">Your full name</label>
            <br>
            <input class="form-input" type="text" name="name" id="'name">
        </p>
        
        <p>
            <label for="email">Your email</label>
            <br>
            <input class="form-input" type="text" name="email" id="'email">
        </p>
        
        <p>
            <label for="username">Your username</label>
            <br>
            <input class="form-input" type="text" name="username" id="'username">
        </p>

        <p>
            <label for="name">Your password</label>
            <br>
            <input class="form-input" type="password" name="password" id="'password">
        </p>
        <p>
            <input class="button1" type="submit" value="Sign up">
        </p>
    </form>
    <br>
    <a href="/">
        <img src="static/icons8-back-64.png" width="30px">
        </a>    </center>

  </body>
</html>